.buttons-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.div-buttonSection {
    width: 100px;
}

.buttons-section img {
    width: 100px;
}


@media (max-width: 480px) {

    .div-buttonSection {
        width: 100px;

    }
    .buttons-section img {
        width: 100px;
    }
}