.buttons-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.div-buttonSection {
    width: 120px;
}

.buttons-section img {
    width: 120px;
}


@media (max-width: 480px) {

    .div-buttonSection {
        margin-right: -20px;
        width: 130px;

    }
    .buttons-section img {
        width: 130px;
    }
}